<h1>Qijia Jiang   <span style="font-weight:normal;"><span style="font-size:0.3em"> [Chee-ja Jee-ang] </span></span> </h1>

<div style="line-height:5px;"><br></div>
<p>I am an Assistant Professor of <a href="https://statistics.ucdavis.edu/">Statistics</a> and <a href="https://appliedmath.ucdavis.edu/">Applied Mathematics</a> at UC Davis (Fall 2024 - ).</p> 
<p>I got my PhD in Electrical Engineering from <a href="https://www.stanford.edu/">Stanford</a> under <a href="https://statweb.stanford.edu/~candes/">Emmanuel Cand&egrave;s</a> in 2021, followed by postdocs at UT Austin and Berkeley. I spent my undergrad at <a href="https://www.rice.edu/">Rice University</a>, studying Electrical Engineering, Statistics and Applied Mathematics, fascinated by quantitative approaches to understand the natural world generally. After all these years, I believe this is still what drives me, despite the excursion into somewhat abstract places somewhere along the way.</p>


<h2>Research</h2>
<ul id="parent">
  <li>Current Interests:
  <ul>
  <li>Theoretical connections between: optimization, MCMC sampling, dynamical system, interacting particle system (<a href="https://github.com/QijiaJ/QijiaJ.github.io/blob/master/_includes/mirror_langevin_2021.pdf" target="_blank">Mirror Langevin</a>, <a href="http://arxiv.org/pdf/2209.07438.pdf" target="_blank">Hamiltonian Monte Carlo</a>, <a href="https://arxiv.org/pdf/2507.12246" target="_blank">Algorithms for Entropic Optimal Transport</a>)</li>
  <li>Blending machine learning with traditional numerical algorithms for: PDE, sampling, optimal transport, control (<a href="https://arxiv.org/pdf/2405.13731.pdf" target="_blank">Schr&#246;dinger Bridge</a>, <a href="https://github.com/QijiaJ/QijiaJ.github.io/blob/master/_includes/operator_learning_2024.pdf" target="_blank">autodiff Spectral PDE solver</a>, <a href="http://arxiv.org/pdf/2506.01904.pdf" target="_blank">Transition Path Sampling</a>)</li>
  <li>AI for Science: data-driven approaches to computational problems arising in Physics &#43; Chemistry (with an eye towards Molecular Dynamics &amp; atomistic simulation</a>)</li>
  </ul>
  These themes, of course, overlap, and span the theory - application spectrum, as they should.
  </li>
  <li>As <a href="https://scholar.google.com/citations?user=sOna0qoAAAAJ&hl=en&oi=ao">Google Scholar</a> may suggest, I have also worked on various topics in optimization, signal processing and statistics in the past.</li>
  <li>Some <a href="summary_slides.pdf" target="_blank">slides</a> related to past and current research.</li>
</ul>



<h2>Teaching</h2>
<ul>
  <li>&#64;UC Davis (as instructor): Introduction to Probability Theory</li>
  <li>&#64;Stanford (as TA): <a href="https://web.stanford.edu/class/ee378b/">High-dimensional Statistics</a>, <a href="http://web.stanford.edu/class/ee364a/">Convex Optimization</a>, <a href="http://cs229.stanford.edu/">Machine Learning</a></li>
</ul>



<h2>Contact</h2> 
<ul>
  <li>Email: qjang AT ucdavis DOT edu
  <li>Office: Mathematical Sciences Building &#35; 1129
</ul>  

<hr />
<br>
<br>
<br>


<!-- I do research in, along with various computational problems at the Berkeley Lab. 
  and spent a lovely summer at <a href="https://www.epfl.ch/en/">EPFL</a> before grad school.
  of theoretical investigation, algorithmic development, and applications
  Off research, you will most likely find me lost in books, art or nature (and these days, more philosophy than I probably need).-->

<!-- <li>I had fun serving as a technical mentor for the <a href="https://stanforddatascience.github.io/DSSG2020/">Data Science for Social Good</a> program at Stanford</li>-->

<!--<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/excentris/compass">GitHub Repository</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="http://excentris.net">The Author</a>
  </li>
</ul>-->
