<h2>Qijia Jiang</h2>
<p>Hello and Welcome! I am a final-year PhD student in Electrical Engineering at <a href="https://www.stanford.edu/">Stanford</a> advised by <a href="https://statweb.stanford.edu/~candes/">Emmanuel Cand&egrave;s</a>, with research interests in optimization, signal processing, statistics and decision making in social-dynamic environments. Earlier I spent four wonderful years at <a href="https://www.rice.edu/">Rice University</a>, graduated with two bachelors (in Electrical Engineering + Statistics) with a minor in Applied Math in 2015 and a lovely summer at <a href="https://www.epfl.ch/en/">EPFL</a> before grad school.</p>

<h2>Research</h2>
<ul id="parent">
  <li><a href="https://arxiv.org/pdf/1810.10702.pdf">Subgradient Descent Learns Orthogonal Dictionaries</a>, ICLR '19. </li>
      with Yu Bai, Ju Sun 
  <li><a href="https://arxiv.org/pdf/1812.08026.pdf">Near-Optimal Method For Highly Smooth Convex Optimization</a>, COLT '19. </li>
      with S&eacute;bastien Bubeck, Yin Tat Lee, Yuanzhi Li, Aaron Sidford 
  <li><a href="https://arxiv.org/pdf/1906.10655.pdf">Complexity of Highly Parallel Non-Smooth Convex Optimization</a>, NeurIPS '19 (Spotlight Presentation). </li>
      with S&eacute;bastien Bubeck, Yin Tat Lee, Yuanzhi Li, Aaron Sidford 
  <li><a href="https://arxiv.org/pdf/2002.08605.pdf">Optimizing Black-box Metrics with Adaptive Surrogates</a>, ICML '20 (work done while intern &#64; Google Research). </li>
      with Oliver Adigun, Hari Narasimhan, Mahdi Milani Fard, Maya Gupta 
  <li><a href="https://arxiv.org/pdf/2003.08078.pdf">Acceleration with a Ball Optimization Oracle</a>, NeurIPS '20 (Oral Presentation). </li>
      with Yair Carmon, Arun Jambulapati, Yujia Jin, Yin Tat Lee, Aaron Sidford, Kevin Tian 
  <li><a href="https://arxiv.org/pdf/2006.04858.pdf">Learning the Truth from Only One Side of the Story</a>, AISTATS '21. </li>
      with Heinrich Jiang, Aldo Pacchiano 
  <li><a href="https://qijiaj.github.io/">Randomized Alternating Direction Methods for Efficient Distributed Optimization</a>, submitted. </li>
      with Emmanuel Cand&egrave;s, Mert Pilanci 
</ul>


<h2>Teaching & Mentorship</h2>
I had fun TAing for <a href="http://web.stanford.edu/class/ee364a/">Convex Optimization</a>, <a href="http://cs229.stanford.edu/">Machine Learning</a> classes in the past, and serving as a technical mentor for the <a href="https://sdsi.stanford.edu/">Data Science for Social Good</a> program at Stanford. I quite enjoy applications of statistics and algorithmic tools for answering policy and social science questions.

<h2>Contact Me</h2>
<p>Feel free to email me at qjiang2 AT stanford DOT edu or stop by 380-U. Off research, you will most likely find me lost in books, art or nature.</p>

<hr />

<!--<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/excentris/compass">GitHub Repository</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="http://excentris.net">The Author</a>
  </li>
</ul>-->
